
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem ;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding-block: 0.2rem;
}

.avatar{
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    object-fit: cover;
}